<div class='row'>
    <!-- use all 12 column of bootstrap container -->
    <div class='col-xs-12>'>

      <div class ="form-group">
        <div class="control-label col-sm-2">
            a
        </div>
        <div class="col-sm-8">
            c
        </div>
      </div>

    </div>
</div>
